@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-800 text-white;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-back,
.flip-card-front {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
